
<div>
<div style="float: left; width: 20%;">
<div class="img-with-text">
<img src="/img/profile.jpg"/>
<p>
<b>Hayden Fuss</b><br>
Undergraduate Researcher<br>
Teaching Assistant<br>
Email: <a href="mailto:whfuss@ncsu.edu">whfuss@ncsu.edu</a>
</p>
</div>
</div>
<div style="float: left; width: 80%;">

<p>My name is <b>Hayden Fuss</b>. I am senior at NC State University, double majoring in Materials Science and Engineering, and Computer Science. For the past two years, I've worked as an undergraduate researcher in the Yingling Research Group, where I write post-processing software for Dissipative Particle Dynamics (DPD) simulations. I write the analysis software in C/C++, and use Python and Bash to submit jobs to NCSU's HPC and plot our results. 
</p>

<p>
This past summer, I worked on a team research project at Harvard University where we conducted a big data study of the Boston Marathon bombings using 311 (non-emergency) reports, 911 dispatches, and geocoded tweets from the Boston area. We used existing Python libraries and modules, such as matplotlib and scikit-learn, to plot our data over animated maps of Boston in order to track how information and sentiment spread throughout the region. 
</p>

<p>
Also, I have fun by trying to program video games. I am currently learning Unity and taking CSC 481 this semester.
Lastly, I am working as a teaching assistant for an online section of MSE 201 this fall.
As far as my strengths go, I am a quick learner, decent at math and physics, and very persistent. You can find when I'm available by clicking <a href="/schedule.html">here</a>.
</p>
  
</div>
</div>

<!-- Don't post this one. -->