{% include header.html %}

<style type="text/css">
body {
background-image: url(/img/background.jpg);
background-size: cover;
}

#box {
width: 960px;
height: 400px;
margin: 0px auto;
  background-color: #585754;
  /* remove the gradient */
  background-image: none;
  /* set font color to white */
  color: #e3dfd5;
  border-color: #e3dfd5;
  text-shadow: black 0.1em 0.1em 0.2em;
padding: 60px;
}
</style>

      <body>

        <div id="box">

        <h3> {{ page.title }} </h3>

        {{ content }}

        </div>

      </body>

{% include footer.html %}