<!DOCTYPE html>
<html>
<head>
    <title>TidalApp</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    
    <!-- Client needs to include this on their webpage. -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>

  <!-- Also needs this... script can be included via GitHub -->
  <div class="container" id="tideApp"> </div>
  <script type="text/javascript">
      const STATE = "LA";
    </script>
  <script type="text/javascript" src="https://rawgithub.com/brix4dayz/tidal-client/master/client/tides.min.js"></script>

  </body>
</html>
